body {
    font-family:Bad Script, cursive;
    background-color: #A2CF7D;
    color: rgb(99, 61, 99);
    text-align: left;
    margin: 10px;
    font-size: 24px;
    a {
        color: rgb(99, 61, 99);
        p {
            font-size: 28px;
        }
    }
    .navbar {
        background-color: rgb(99, 61, 99);
        justify-content: center;
        display: flex;
        height: inherit;
        color: #A2CF7D;
        margin: 2px;
        a {
            color: #A2CF7D;
            align-items:center;
        }
    }
    .rooms {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        img {
            width: 400px;
            height: 300px;
            display: block;
            margin: 10px;
            border: 2px solid rgb(99, 61, 99);
        }
    }
}